{% extends 'Base.html' %}
{% block content %}

{% if category_posts %}

<h1> {{ cats }} </h1>
<ul>
{% for post in category_posts  %}
        {% if user.is_authenticated %}
    <li><a href="{% url 'detail' post.pk %}"> {{post.title}} - </a>
        {{post.author.first_name}}
        {{post.author.last_name}}
        - {{post.post_date}}

        <a href="{% url 'update_post' post.pk %}">Edit</a> <a href="{% url 'delete_post' post.pk %}">Delete</a><br>
        {{post.body|slice:"200"}}
        {% else %}
    <li><a href="{% url 'detail' post.pk %}"> {{post.title}} - {{ post.category }} -
    </a>{{post.author.first_name}}
        {{post.author.last_name}}
        - {{post.post_date}} <br>

        {{post.body|slice:"200"}}

        {% endif %}
    </li>
{% endfor  %}
</ul>

{% else %}
<h2>Sorry this page does not exist</h2>

{% endif %}

{% endblock %}